body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#content {
  width: 60%;
  margin: 0 auto;
  background: #ddd;
  border: solid #aaa 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 2%;
}

.sub-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 2%;
}

.image {
  position: relative;
  width: 70%;
  height: auto;
  left: 14%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2%;
  border-bottom: solid #aaa 1px;
}

.nav-link, .social-link {
  flex: 1;
  color: #111;
  text-decoration: none;
  font-size: 1.4rem;
}

.nav-link:hover, .social-link:hover {
  text-decoration: underline;
}

.page {
  padding: 2.5%;
}

.quote {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  padding: 3%;
  color: #444;
}

.para {
  padding: 2.5%;
  font-size: 1.25rem;
  line-height: 1.5;
}

.reservation {
  position: relative;
  left: 33%;
  margin: 3% auto;
  padding: 2%;
  font-size: 1.5rem;
  background: #ccc;
  border: solid 1px #aaa;
  font-family: inherit;
}

.reservation:hover {
  background: #aaa;
}

.menu {
  text-align: center;
}

.menu-item {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3%;
}

.menu-desc {
  font-size: 1.3rem;
  padding: 1%;
  font-weight: normal;
}

.menu-price {
  font-size: 1.1rem;
  text-decoration: none;
}

.contact-box {
  padding: 2%;
  text-align: center;
}

.contact-heading {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2%;
  line-height: 2;
}

.contact-info {
  font-size: 1.2rem;
  font-weight: normal;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ccc;
  padding: 3%;
}

.social-link {
  font-style: italic;
}
